<h1>LogIn</h1>

<form method="post">
    <label>Usuario: </label>
    <input type="text" name="usuario" class="form-control" />
    <button type="submit" class="btn btn-info">
        LogIn
    </button>

</form>